In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import requests

# Step 1 - Scraping

### NASA Mars News

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 95.0.4638
Get LATEST chromedriver version for 95.0.4638 google-chrome
Driver [C:\Users\Jenny\.wdm\drivers\chromedriver\win32\95.0.4638.69\chromedriver.exe] found in cache

In [3]:
url_news = 'https://redplanetscience.com/'
browser.visit(url_news)

In [4]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

# Retrieve all elements that contain news information
news = soup.find_all('div', class_='list_text')

# Use Beautiful Soup's find() method to navigate and retrieve attributes
latest_news_title = news[0].find('div', class_='content_title').text
latest_news_p = news[0].find('div', class_='article_teaser_body').text

print(latest_news_title)
print(latest_news_p)

NASA's Briefcase-Size MarCO Satellite Picks Up Honors
The twin spacecraft, the first of their kind to fly into deep space, earn a Laureate from Aviation Week & Space Technology.

In [5]:
browser.quit()

### JPL Mars Space Images - Featured Image

In [6]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)
url_image = 'https://spaceimages-mars.com/'
browser.visit(url_image)

====== WebDriver manager ======
Current google-chrome version is 95.0.4638
Get LATEST chromedriver version for 95.0.4638 google-chrome
Driver [C:\Users\Jenny\.wdm\drivers\chromedriver\win32\95.0.4638.69\chromedriver.exe] found in cache

In [7]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [8]:
featured_image = soup.find_all('img', class_='headerimage fade-in')
featured_image_url_part = featured_image[0]['src']
featured_image_url = url_image + featured_image_url_part
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars2.jpg

In [9]:
browser.quit()

### Mars Facts

In [10]:
import pandas as pd

In [11]:
url_fact = 'https://galaxyfacts-mars.com/'
tables = pd.read_html(url_fact)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [12]:
df = tables[0]
df.columns = ['', 'Mars', 'Earth']
df.loc[-1] = ['Description',"",""]
df.sort_index(inplace=True)
df

                                        Mars            Earth
-1              Description
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C

In [16]:
html_table = df.to_html(index=False)
html_table = html_table.replace('border="1"', 'border=3 class="table table-striped table table-bordered"').replace('right','left')
html_table

'<table border=3 class="table table-striped table table-bordered" class="dataframe">\n  <thead>\n    <tr style="text-align: left;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Description</td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Hemispheres

In [14]:
# URL of page to be scraped
url_hemispheres = 'https://marshemispheres.com/'

# Retrieve page with the requests module
response = requests.get(url_hemispheres)
# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(response.text, 'lxml')

In [15]:
# Examine the results, then determine element that contains sought info
# results are returned as an iterable list
results = soup.find_all('div', class_='item')

hemisphere_image_urls = []

# Loop through returned results
for result in results:
    # Error handling
    try:
        # Identify and return title of listing
        title = result.find('h3').text
        # Identify and return image thumb of listing
        thumb_link = result.find('a')['href']
        # Full links of the image thumb
        full_thumb_link = url_hemispheres + thumb_link

        # Retrieve each thumb page with the requests module
        response = requests.get(full_thumb_link)
        # Create BeautifulSoup object; parse with 'lxml'
        soup = BeautifulSoup(response.text, 'lxml')
        
        # Identify and return full image url
        img_link = soup.find_all('img', class_='wide-image')[0]['src']
        # Full links of the image thumb
        full_img_link = url_hemispheres + img_link

#         print(title)
#         print(full_img_link)
        
        # Append the dictionary with the image url string and the hemisphere title to a list.
        hemisphere_dict = {
            "title": title,
            "img_url": full_img_link
            }
        hemisphere_image_urls.append(hemisphere_dict)

    except Exception as e:
        print(e)

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]